.motherDivFooter{
    border-top: black;
    height: 70px;
    background: #333;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: biko;
    color: #e4e4e4;
    flex-direction: column;
    padding: 1.5% 0;
    bottom: 0;
    width: 100%;

    .pokedexPFooter{
        font-size: 1.2rem;
        margin: 0;
    }
    .namePFooter{
        font-size: 1.0rem;
        margin: 0;
    }
}