.motherDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ef5450;
  color: #f4f4f4;
  padding: 4px 8px;
  text-align: center;
  font-family: Pokemon;
  font-size: 1.5rem;
  color: #ffc81a;
  height: 115px;

  @media (max-width: 550px) {
    font-size: 1.35rem;
    height: 80px;
  }

  .head {
    text-shadow: -2px 0 #426291, 0 2px #426291, 2px 0 #426291;
    margin: 0;
    padding-top: 10px;
    cursor: pointer;
  }
}
