@font-face {
  font-family: "Pokemon";
  src: url(/_next/static/chunks/fonts/pokemonSolid-36d26dbcd032a9d91d891c9f22dfdec6.ttf) format("TrueType"); }

@font-face {
  font-family: "biko";
  src: url(/_next/static/chunks/fonts/Biko_Regular-7cf2733910d4c9ccc09fcfc79d2cbc96.otf) format("OpenType"); }

html, body, main {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "biko"; }

.pokeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5%;
  padding-left: 0;
  padding-right: 0; }

p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0; }

.viewBtn {
  align-self: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 0;
  width: 60%;
  transition: all ease-in-out 0.3s;
  max-width: 650px;
  box-shadow: 0px 3px 10px rgba(56, 56, 56, 0.3); }

.viewBtn:hover {
  transform: perspective(1px) scale3d(1.1, 1.1, 1); }

@media (max-width: 600px) {
  .viewBtn {
    width: 70%; } }

#normal, #water, #electric, #fighting, #ground, #psychic, #rock, #dark, #steel, #fire, #grass, #ice, #poison, #flying, #bug, #ghost, #dragon {
  margin: 1%;
  padding: 1%;
  padding-left: 4%;
  padding-right: 4%; }

#normal {
  background: #a8a877; }

#water {
  background: #6791e5; }

#electric {
  background: #f7d030; }

#fighting {
  background: #c12f2a; }

#ground {
  background: #e0bf67; }

#psychic {
  background: #f85788; }

#rock {
  background: #b89f38; }

#dark {
  background: #705849;
  color: #e4e4e4; }

#steel {
  background: #b8b9cf; }

#fire {
  background: #f18030; }

#grass {
  background: #78c950; }

#ice {
  background: #98d8d8; }

#poison {
  background: #9f40a0;
  color: #e4e4e4; }

#flying {
  background: #a990f0; }

#bug {
  background: #a7b921; }

#ghost {
  background: #6f5897; }

#dragon {
  background: #7038f9; }

#fairy {
  background: #f0b6bd; }

img {
  filter: drop-shadow(0 2px 3px rgba(58, 58, 58, 0.4)); }

.motherDivSingle {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .motherDivSingle .container {
    padding: 7%;
    width: 70%;
    align-self: center;
    max-width: 720px; }
    .motherDivSingle .container .nameId {
      display: flex;
      flex-direction: row; }
      .motherDivSingle .container .nameId .nameDiv {
        width: 75%;
        margin: 1%;
        padding: 2.3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: #383838 1px solid;
        border-radius: 5px;
        box-shadow: 0 3px 10px rgba(58, 58, 58, 0.4); }
        .motherDivSingle .container .nameId .nameDiv .name {
          margin: 0;
          font-size: 2rem; }
          @media (min-width: 750px) {
            .motherDivSingle .container .nameId .nameDiv .name {
              font-size: 2.2rem; } }
      .motherDivSingle .container .nameId .idDiv {
        width: 25%;
        margin: 1%;
        border: #383838 1px dotted;
        padding: 2.3%;
        font-size: 1.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: #383838 1px solid;
        border-radius: 5px; }
    .motherDivSingle .container .spritesDiv {
      margin: 1%;
      border: #383838 1px dotted;
      padding: 2.3%;
      padding-top: 4%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      border: #383838 1px solid;
      border-radius: 5px; }
      .motherDivSingle .container .spritesDiv .defaultDiv .defaultH {
        margin: 0;
        font-size: 1.3rem; }
      .motherDivSingle .container .spritesDiv .shinyDiv .shinyH {
        margin: 0;
        font-size: 1.3rem; }
    .motherDivSingle .container .heightWeight {
      display: flex;
      flex-direction: row; }
      .motherDivSingle .container .heightWeight .heightDiv, .motherDivSingle .container .heightWeight .weightDiv {
        width: 50%;
        margin: 1%;
        border: #383838 1px dotted;
        padding: 2.3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: #383838 1px solid;
        border-radius: 5px; }
        @media (min-width: 750px) {
          .motherDivSingle .container .heightWeight .heightDiv, .motherDivSingle .container .heightWeight .weightDiv {
            font-size: 1.4rem; } }
    .motherDivSingle .container .abilityType {
      display: flex;
      flex-direction: row; }
      .motherDivSingle .container .abilityType .abilityDiv {
        width: 50%;
        margin: 1%;
        border: #383838 1px dotted;
        padding: 2.3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 130%;
        border: #383838 1px solid;
        border-radius: 5px; }
        .motherDivSingle .container .abilityType .abilityDiv .abilityH {
          margin: 0;
          font-size: 1.3rem;
          margin-bottom: 2%; }
          @media (min-width: 750px) {
            .motherDivSingle .container .abilityType .abilityDiv .abilityH {
              font-size: 1.4rem;
              margin-bottom: 3%; } }
        .motherDivSingle .container .abilityType .abilityDiv .ability {
          border-bottom: 1px solid black;
          margin: 1%;
          width: 50%; }
          @media (max-width: 590px) {
            .motherDivSingle .container .abilityType .abilityDiv .ability {
              width: 80%; } }
          @media (min-width: 750px) {
            .motherDivSingle .container .abilityType .abilityDiv .ability {
              font-size: 1.15rem; } }
      .motherDivSingle .container .abilityType .typesDiv {
        width: 50%;
        margin: 1%;
        border: #383838 1px dotted;
        padding: 2.3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 140%;
        border: #383838 1px solid;
        border-radius: 5px; }
        .motherDivSingle .container .abilityType .typesDiv .typesH {
          margin: 0;
          font-size: 1.3rem; }
          @media (min-width: 750px) {
            .motherDivSingle .container .abilityType .typesDiv .typesH {
              font-size: 1.4rem;
              margin-bottom: 3%; } }
        .motherDivSingle .container .abilityType .typesDiv .type {
          border-radius: 5px;
          display: flex;
          align-items: center; }
    .motherDivSingle .container .statsDiv {
      margin: 1%;
      border: #383838 1px dotted;
      padding: 2.3%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      border: #383838 1px solid;
      border-radius: 5px; }
      @media (max-width: 590px) {
        .motherDivSingle .container .statsDiv {
          flex-direction: column; } }
      .motherDivSingle .container .statsDiv .stat {
        width: 40%;
        height: 10%;
        font-size: 1.1rem;
        margin: 2%;
        padding: 2%;
        border-bottom: 1px grey solid; }
        @media (max-width: 590px) {
          .motherDivSingle .container .statsDiv .stat {
            width: 80%;
            margin: 1%;
            padding-top: 1%;
            padding-bottom: 1%; } }
        @media (min-width: 750px) {
          .motherDivSingle .container .statsDiv .stat {
            font-size: 1.3rem; } }
        @media (min-width: 950px) {
          .motherDivSingle .container .statsDiv .stat {
            font-size: 1.45rem; } }

a .motherDivPokemon {
  height: 100%;
  width: 100%;
  text-align: center;
  background: #f4f4f4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; }
  a .motherDivPokemon .leftDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    padding: 0;
    height: 100%; }
    a .motherDivPokemon .leftDiv .nameP {
      align-self: center;
      font-size: 1.3rem;
      padding: 0;
      margin: 0;
      -webkit-letter-spacing: 1px;
      -moz-letter-spacing: 1px;
      -ms-letter-spacing: 1px;
      letter-spacing: 1px;
      color: #383838;
      position: relative;
      margin: auto; }
  a .motherDivPokemon img {
    filter: drop-shadow(0 2px 3px rgba(58, 58, 58, 0.4)); }

.loadBtn {
  align-self: center;
  display: flex;
  justify-content: center;
  margin-top: 2.5%;
  font-size: 1.3rem;
  cursor: pointer;
  font-family: "biko";
  outline: none;
  padding: 7px 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all ease-in-out 0.3s;
  border-radius: 5px;
  animation: scaler 1s infinite alternate; }

@keyframes scaler {
  from {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); }
  to {
    transform: scale(1.05);
    box-shadow: 0 3px 7px rgba(58, 58, 58, 0.25); } }
  .loadBtn:hover {
    background: #383838;
    color: #ffffff; }

.motherDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ef5450;
  color: #f4f4f4;
  padding: 4px 8px;
  text-align: center;
  font-family: Pokemon;
  font-size: 1.5rem;
  color: #ffc81a;
  height: 115px; }
  @media (max-width: 550px) {
    .motherDiv {
      font-size: 1.35rem;
      height: 80px; } }
  .motherDiv .head {
    text-shadow: -2px 0 #426291, 0 2px #426291, 2px 0 #426291;
    margin: 0;
    padding-top: 10px;
    cursor: pointer; }

.motherDivFooter {
  border-top: black;
  height: 70px;
  background: #333;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: biko;
  color: #e4e4e4;
  flex-direction: column;
  padding: 1.5% 0;
  bottom: 0;
  width: 100%; }
  .motherDivFooter .pokedexPFooter {
    font-size: 1.2rem;
    margin: 0; }
  .motherDivFooter .namePFooter {
    font-size: 1.0rem;
    margin: 0; }


/*# sourceMappingURL=styles.chunk.css.map*/